section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    margin-top: 20px;
    background-color: rgb(238, 238, 238);
    padding: 0 20px;
}

.style-span-ul{
   display:flex;
   align-items: center;
}

ul{
    display:flex;
}

li{
    list-style: none;
    padding: 0 20px ;
    font: 500 14px Roboto, sans-serif;
    margin-top: 20px;
    transition: color 0.8s;
    text-transform: uppercase;
}


li:hover{
    color: #e02041;
}

.style-link{
    text-decoration:none;
  
    
    
}

.style-link:hover{
    border-bottom: 1px solid red;
  
}


form input{
    width: 65%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px; 
  }

  
  .style-button {
    width: 30%;
    height: 60px;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    margin-left:  16px;;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
    
  }
  
  .style-button:hover{
    filter: brightness(90%)
  }